Documents/
GPS/
r20_dataset/
r22_dataset/
RDD2022/
__pycache__/
runs/
*.zip
code.md
augmented_output/
*.mp4
videonames.txt
*.pdf
# generated / local
outputs/*/frames/
outputs/*/filtered_frames/
.venv/
*.pyc
